body{
    background: rgb(5, 121, 38);
    color: aliceblue;
}
.div1 {
    height: 200px;
    background-color: rgb(134, 59, 59);
    /* border: 1px solid black; */
}
#to{
    background-color: rgb(33, 140, 216);
    height: 100px;
    margin-top: 0px;
}
#to2{
    margin-top: -0.9in;
    color:rgb(143, 251, 3);
    font-size: 20px;
    margin-left: 3in;
    font-family: 'Times New Roman', Times, serif;
}

#add-task-list {
    margin-top: 0.5in;
    margin-left: 3in;
    
}
input[type=text]{
    width: 50%;
}
#listbutton {
    margin-left: 11in;
    margin-top: -0.2in;
}
input[type=text1]{
    width: 65%;
}
#edit {
    border: none;
    background: rgb(1, 50, 1);
    color: white;
    width: 60px;
    height: 20px;
}
#delete {
    text-decoration-color: aliceblue;
    border: none;
    background: red;
    color: white;
    width: 60px;
    height: 20px;
}
#submit {
    border: none;
    background-color: rgb(126, 12, 197);
    color: white;
    width: 80px;
    height: 22px;

}